{% extends 'basic.html' %}

{% block title %} About{% endblock title %}
{% block aboutactive %}active {% endblock aboutactive %}
{% block style %}


{% endblock %}
<style>



</style>
{% block body %}
<div class="bg-light">
  <div class="container py-5">
    <div class="row h-100 align-items-center py-5">
      <div class="col-lg-6">
       <h1 class="display-4"><b>About Me</b></h1>
        <p class="lead text-muted mb-0">Hi, I'm Amar Deep, the Founder of TechGuy</p><br>
        <p class="lead text-muted mb-0">I originally started Simple Programmer in 2009 as a personal blog where I tried to distill what I was learning into simple, easily understandable content.</p><br>
        <p class="lead text-muted mb-0">But, today Simple Programmer is more than just a blog and more than just me.</p>

      </div>
      <div class="col-lg-6 d-none d-lg-block"><img src="https://res.cloudinary.com/mhmd/image/upload/v1556834136/illus_kftyh4.png" alt="" class="img-fluid"></div>
    </div>
  </div>
</div>

<div class="bg-white py-5">
  <div class="container py-5">
    <div class="row align-items-center mb-5">
      <div class="col-lg-6 order-2 order-lg-1"><i class="fa fa-bar-chart fa-2x mb-3 text-primary"></i>
        <h2><b>My Focus</b></h2>
        <p class="font-italic text-muted mb-4">Today, Tech Guy is focused on helping software developers, programmers and other IT professionals improve their careers and live better lives.</p>
      </div>
      <div class="col-lg-5 px-5 mx-auto order-1 order-lg-2"><img src="https://res.cloudinary.com/mhmd/image/upload/v1556834139/img-1_e25nvh.jpg" alt="" class="img-fluid mb-4 mb-lg-0"></div>
    </div>
    <div class="row align-items-center">
      <div class="col-lg-5 px-5 mx-auto"><img src="https://res.cloudinary.com/mhmd/image/upload/v1556834136/img-2_vdgqgn.jpg" alt="" class="img-fluid mb-4 mb-lg-0"></div>
      <div class="col-lg-6"><i class="fa fa-leaf fa-2x mb-3 text-primary"></i>
        <h2><b>My Goal</b></h2>
        <p class="font-italic text-muted mb-4">My goal for Simple Programmer is <b>not just to help you get a better job and make more money—although I certainly want to do that—but to help you improve in all areas of your life.</b></p>
      </div>
    </div>
  </div>
</div>

<div class="bg-light py-5">
  <div class="container py-5">
    <div class="row mb-4">
      <div class="col-lg-5">
       <center><h2 class="display-4 font-weight-light"><b>Founder</b></h2></center>
        <p class="font-italic text-muted">I want to help you succeed and become a better version of yourself each and every day.</p>
      </div>
    </div>

    <div class="row text-center">


      <!-- Team item-->
      <div class="col-xl-3 col-sm-6 mb-5 text-center">
        <div class="bg-white rounded shadow-sm py-5 px-4"><img src="https://res.cloudinary.com/mhmd/image/upload/v1556834130/avatar-3_hzlize.png" alt="" width="100" class="img-fluid rounded-circle mb-3 img-thumbnail shadow-sm">
          <h5 class="mb-0">Amar Deep</h5><span class="small text-uppercase text-muted">CEO - Founder</span>


        </div>
      </div>
    </div>
  </div>
</div>







<footer class="bg-light pb-5">
  <div class="container text-center">
    <p class="font-italic text-muted mb-0"><b>&copy; Copyrights TechGuy.com All rights reserved.</b></p>
  </div>
</footer>






 {% endblock %}